footer{
   border-top: 5px solid gainsboro;
   text-align: center;
   width: 99%;
   position: absolute;
   bottom: 0%;
}

h1{
   font-size: 3em;
   text-align: center;
   font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#firstDiv{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10vw;
}

#changeButtonDiv{
   display: flex;
   justify-content: center;
}

/* Menu */

#menu {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#menu output, #menu button {
   margin-top: 1vh;
}

#compteur{
   background-color: #555555;
   color:white;
   font-size: 1.5rem;
   border-radius: 4px;
   font-family: Helvetica,sans-serif;
   padding: 12px 40px;
}

/* Button */

button {
   background-color: royalblue;
   color: white;
   cursor: pointer;
   border-radius: 5px;
   padding: 16px 24px;
   font-family: Helvetica,sans-serif;
   font-size: 1em;
}

#changebtn {
   margin-top: 5%;
}
